<div class="jumbotron">
    <div class="row">
        <div class="col-md-8 col-xs-4">
            <h1>TIY Sports</h1>
            <h3>&hearts; for the students of the Iron Yard</h3>
        </div>

        <div class="img-rounded">
            <div class="col-md-4 col-xs-4">
                <img src="~/Images/sports.jpg" class="img-responsive img-circle img-rounded">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Images/football.jpg">
            <div class="caption">
                <h3>Football</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Images/baseball.jpg">
            <div class="caption">
                <h3>Baseball</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Images/basketball.jpg">
            <div class="caption">
                <h3>Basketball</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Images/quidditch.jpg">
            <div class="caption">
                <h3>Quidditch</h3>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-warning">
    <h2>
        We've added some features for version 2.0!
        <small><a href="#">Learn more</a></small>
    </h2>
</div>


<div class="well container-fluid">
    <div class="col-md-11">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        Please log in to edit!
    </div>
    <div class="col-md-1 ">
        <span class="label label-primary"> f Facebook</span>
    </div>
</div>

<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">Teams</div>


    <!-- List group -->
    <ul class="list-group">

        <li class="list-group-item ">
            <div class="row">
                <div class="col-xs-3">
                    <div class="thumbnail">
                        <img src="~/Images/dartboard.png">
                    </div>
                </div>
                <div class="col-xs-3">
                    Tampa Dart Dynamos
                </div>
            </div>
        </li>

        <li class="list-group-item">St Pete Ping Pong Powerhouse</li>
        <li class="list-group-item">Orlando Golf Gang</li>
    </ul>
</div>






